<div class="hero-unit">
  <h1>Blocipedia</h1>
  <p>Create and Share Wikis with Blocipedia</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'button' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-large' %> for your Wiki today!
  </p>
</div>

<div class="row">
  <div class="span4">
    <h2>Free Plan</h2>
    <p>Create Unlimited Wikis</p>
  </div>
  <div class="span4">
    <h2>Premium Plan</h2>
    <p>Create Unlimited and Private Wikis</p>
  </div>
</div>
